    body {
        font-family: 'Open Sans', sans-serif;
    }
    h1 {
        text-align: center;
    }
    #container {
        background-color: #003049;
        width: 90%;
        height: 500px;
        margin: 0 auto;
        border: 5px solid #003049;
    display: flex;
    flex-direction: row;/* row row-reverse column column-reverse*/
    justify-content: center;/* flex-start , flex-start , center, space-between , space-around , space evenly */
    /*flex-wrap: wrap; wrap, wrap-reverse*/
    align-items:  center;/* flex-end, flex-start, center*/

}
div{
    width: 200px;
    height: 200px;

}

