img{
    width: 30%;
    
    margin: 1.666%;
}
.first{
    border: 5px solid pink;
}
nav{
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    margin-left: calc(10%6);
}